<<<<<<< HEAD
.admin-cart{
    background-color: dodgerblue;
    border-radius: 5px;
    height: 35px;
    width: 190px;
    color:  white;
    font-family: Georgia;
}
.admin-button{
    background-color: white;
    border-radius: 05px;
    height: 35px;
    width: 95px;
    color:  black;
    font-family: Georgia;
}
.nume{
    margin-left: 230px;
    margin-right: 665px;
    font-size: 35px;
}

.box{
    max-width: 812px;
    margin: 50px auto 0 auto;
}
.boxes{
    border-style: groove;
    border-width: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    display: table-cell;
    width: 307px;
    height: 300px;
    margin-left: 178px;
    margin-top: 100px;
    padding-left: 62px;
}
.details-cart{
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 190px;
    color:  black;
    font-family: Georgia;
}
.detail-box{
    border-style: groove;
    border-width: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    width: 600px;
    height: 337px;
    margin-top: 5px;
    margin-left: 293px;
    margin-top: 90px;
    padding-top: 35px;
    padding-left: 121px;
}
#wrapper-add-produs{
    border-style: groove;
    border-width: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 985px;
    height: 494px;
    margin-left: 210px;
    margin-right: 180px;
    margin-top: 30px;
    padding-top: 40px;
}
.save-produs{
    background-color: dodgerblue;
    border-radius: 5px;
    height: 35px;
    width: 89px;
    color:  white;
    font-family: Georgia;
}
.cancel-produs{
    background-color: white;
    border-radius: 05px;
    height: 35px;
    width: 95px;
    color:  black;
    font-family: Georgia;
}
#wrapper_admin{
    margin-bottom: 25px;
}
.add-produs{
    font-size: 28px;
    font-weight: 400;
    margin-right: 582px;
    padding-left: 10px;
}
.caracteristici-produs-imagine{
    padding-top: 20px;
}
.caracteristici-produs-nume{
    margin-bottom: 24px;
    padding-top: 20px;
}
.caracteristici-produs-descriere{
    margin-bottom: 24px;
    padding-top: 20px;
}
.caracteristici-produs-pret{
    margin-bottom: 24px;
    padding-top: 20px;
}
.caracteristici-produs-cantitate{
    margin-bottom: 24px;
    padding-top: 20px;
}
.input-produs-imagine{
    width: 787px;
    height: 21px;
    border-radius: 3px;
}
.input-produs-nume{
    width: 787px;
    height: 21px;
    border-radius: 3px;
}
.text-area-produs-descriere{
    width: 790px;
    height: 90px;
    border-radius: 3px;
}
.input-produs-pret{
    width: 794px;
    height: 21px;
    border-radius: 3px;
}
.input-produs-cantitate{
    width: 793px;
    height: 21px;
    border-radius: 3px;
}
.caracteristici-imagine{
    padding-left: 10px;
    padding-right: 119px;
}
.caracteristici-nume{
    padding-left: 10px;
    padding-right: 131px;
}
.caracteristici-descriere{
    padding-left: 10px;
    padding-right: 106px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.caracteristici-pret{
    padding-left: 10px;
    padding-right: 139px;
}
.caracteristici-cantitate{
    padding-left: 10px;
    padding-right: 106px;
}
.cumpara{
        background-color: dodgerblue;
        border-radius: 5px;
        height: 35px;
        width: 117px;
        color:  white;
        font-family: Georgia;
        margin-left: 666px;
}
.wrapper-cart{
    max-width: 812px;
    margin: 30px 250px 73px 220px;
    border-radius: 3px;
    width: 1500px;
    height: 500px;
    border-style: groove;
}
.cart{
    font-size: 30px;
    font-weight: 100px;
    margin-bottom: 28px;
}
.wrapp-box{
    padding-top: 50px;
    padding-left: 156px;
}
.wrapp-box2{
    padding-top: 50px;
    padding-left: 156px;
}
.wrapp-box3{
    padding-top: 50px;
    padding-left: 156px;
}
=======
.admin-cart{
    background-color: dodgerblue;
    border-radius: 5px;
    height: 35px;
    width: 190px;
    color:  white;
    font-family: Georgia;
}
.admin-button{
    background-color: white;
    border-radius: 05px;
    height: 35px;
    width: 95px;
    color:  black;
    font-family: Georgia;
}
.nume{
    margin-left: 230px;
    margin-right: 665px;
    font-size: 35px;
}

.box{
    max-width: 812px;
    margin: 50px auto 0 auto;
}
.boxes{
    border-style: groove;
    border-width: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    display: table-cell;
    width: 307px;
    height: 300px;
    margin-left: 178px;
    margin-top: 100px;
    padding-left: 62px;
}
.details-cart{
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 190px;
    color:  black;
    font-family: Georgia;
}
.detail-box{
    border-style: groove;
    border-width: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    width: 600px;
    height: 337px;
    margin-top: 5px;
    margin-left: 293px;
    margin-top: 90px;
    padding-top: 35px;
    padding-left: 121px;
}
#wrapper-add-produs{
    border-style: groove;
    border-width: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 985px;
    height: 494px;
    margin-left: 210px;
    margin-right: 180px;
    margin-top: 30px;
    padding-top: 40px;
}
.save-produs{
    background-color: dodgerblue;
    border-radius: 5px;
    height: 35px;
    width: 89px;
    color:  white;
    font-family: Georgia;
}
.cancel-produs{
    background-color: white;
    border-radius: 05px;
    height: 35px;
    width: 95px;
    color:  black;
    font-family: Georgia;
}
#wrapper_admin{
    margin-bottom: 25px;
}
.add-produs{
    font-size: 28px;
    font-weight: 400;
    margin-right: 582px;
    padding-left: 10px;
}
.caracteristici-produs-imagine{
    padding-top: 20px;
}
.caracteristici-produs-nume{
    margin-bottom: 24px;
    padding-top: 20px;
}
.caracteristici-produs-descriere{
    margin-bottom: 24px;
    padding-top: 20px;
}
.caracteristici-produs-pret{
    margin-bottom: 24px;
    padding-top: 20px;
}
.caracteristici-produs-cantitate{
    margin-bottom: 24px;
    padding-top: 20px;
}
.input-produs-imagine{
    width: 787px;
    height: 21px;
    border-radius: 3px;
}
.input-produs-nume{
    width: 787px;
    height: 21px;
    border-radius: 3px;
}
.text-area-produs-descriere{
    width: 790px;
    height: 90px;
    border-radius: 3px;
}
.input-produs-pret{
    width: 794px;
    height: 21px;
    border-radius: 3px;
}
.input-produs-cantitate{
    width: 793px;
    height: 21px;
    border-radius: 3px;
}
.caracteristici-imagine{
    padding-left: 10px;
    padding-right: 119px;
}
.caracteristici-nume{
    padding-left: 10px;
    padding-right: 131px;
}
.caracteristici-descriere{
    padding-left: 10px;
    padding-right: 106px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.caracteristici-pret{
    padding-left: 10px;
    padding-right: 139px;
}
.caracteristici-cantitate{
    padding-left: 10px;
    padding-right: 106px;
}
.cumpara{
        background-color: dodgerblue;
        border-radius: 5px;
        height: 35px;
        width: 117px;
        color:  white;
        font-family: Georgia;
        margin-left: 666px;
}
.wrapper-cart{
    max-width: 812px;
    margin: 30px 250px 73px 220px;
    border-radius: 3px;
    width: 1500px;
    height: 500px;
    border-style: groove;
}
.cart{
    font-size: 30px;
    font-weight: 100px;
    margin-bottom: 28px;
}
.wrapp-box{
    padding-top: 50px;
    padding-left: 156px;
}
.wrapp-box2{
    padding-top: 50px;
    padding-left: 156px;
}
.wrapp-box3{
    padding-top: 50px;
    padding-left: 156px;
}
>>>>>>> a2a6c4202e9dc203e4905681557b046e043f6279
